/* https://www.youtube.com/watch?v=bClP73LpeOY */
/* this video helped me figure out how to create the vertical bars horizontally */
.array-num-bar {
    /* the width of the bar is determine by the size of the number font*/
    width: 11px;
    background-color: #2e77ac; 
    flex-grow: 100;

}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation 
   for changing the orientation of the numbers */
.numbers-display {
   writing-mode: vertical-rl;
   text-orientation: upright; 
   
   font-size: 10px;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
    a good guide on flexbox*/
.sorting-container{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

.menu-container{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;

}